<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/head :: head"></div>
</head>

<body>
<script src="/js/add-quiz.js"></script>
<div th:replace="fragments/navigation :: nav"></div>

<div class="container mt-4">

    <div class="mb-4">
        <h1 th:if="${action} == 'add'">Add Quiz</h1>
        <h1 th:if="${action} == 'edit'">Edit Quiz</h1>
    </div>

    <form id="add-quiz" method="post" th:object="${quiz}" novalidate th:class="${isInvalid} ? 'was-validated' : ''">

        <div class="row mb-3">
            <label for="title" class="col-sm-2 col-form-label">Quiz Title:</label>
            <div class="col-sm-6">
                <input th:field="*{title}" type="text" class="form-control" id="title" required>
                <div class="invalid-feedback">Enter a quiz title!</div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-6 offset-sm-2">
                <div class="form-check">
                    <input class="form-check-input" th:checked="*{live}" type="checkbox" th:field="*{live}" id="live">
                    <label class="form-check-label" for="live">Mark quiz as live?</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 offset-sm-2">
                <button type="submit" value="Save" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>
</html>