<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>

<div th:replace="fragments/navigation :: nav"></div>

<div class="container mt-4">
    <div>
        <h1>Delete Quiz</h1>
        <h2>You are deleting the following quiz!</h2>
    </div>
    <table class="table">
        <tr>
            <th>Quiz Id</th>
            <td th:text="${quiz.quizId}"></td>
        </tr>
        <tr>
            <th>Quiz Title</th>
            <td th:text="${quiz.title}"></td>
        </tr>
    </table>

    <form method="post">
        <button type="submit" value="delete" class="btn btn-danger">Delete</button>
        <a href="/quizzes" class="btn btn-secondary">Cancel</a>
    </form>
</div>

</body>
</html>