<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>

<div th:replace="fragments/navigation :: nav"></div>

<div class="container mt-4">
    <div>
        <h1>Delete Quiz</h1>
        <h2>You are deleting the following quiz!</h2>
    </div>

    <div>
        <p>Quiz Id: <span th:text="${quiz.quizId}"></span></p>
        <p>Quiz Title: <span th:text="${quiz.title}"></span></p>
    </div>

    <form method="post">
        <button type="submit" value="delete" class="btn btn-outline-danger">Delete</button>
        <a href="/quizzes" class="btn btn-outline-light">Cancel</a>
    </form>
</div>

</body>
</html>
