<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>

<div th:replace="fragments/navigation :: nav"></div>
<main>

  <section class="container mt-4">

    <p><strong>Quiz Id:</strong> <span th:text="${quiz.quizId}"></span></p>
    <p><strong>Quiz Title:</strong> <span th:text="${quiz.title}"></span></p>
  </section>


  <section class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2 class="text-secondary">All Questions</h2>
      <a class="btn btn-outline-primary mt-4" th:href="@{|/quizzes/${quiz.quizId}/questions/add|}">Add Question</a>
    </div>

    <div class="list-group">
      <div th:each="question:${questions}" class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <strong th:text="${question.questionNumber}"></strong> .
          <a th:href="@{|/quizzes/${question.quizId}/questions/${question.questionId}|}" th:text="${question.questionText}" class="text-decoration-none text-info"></a>
        </div>
        <div>
          <a th:href="@{|/quizzes/${question.quizId}/questions/${question.questionId}|}" class="btn btn-outline-primary btn-sm">Details</a>
          <a th:href="@{|/questions/${question.questionId}/edit|}" class="btn btn-outline-light btn-sm">Edit</a>
          <a th:href="@{|/questions/${question.questionId}/delete|}" class="btn btn-outline-danger btn-sm">Delete</a>
        </div>
      </div>
    </div>
  </section>
</main>
</body>
</html>