<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>

<div th:replace="fragments/navigation :: nav"></div>

<div class="container mt-4">

    <div class="d-flex justify-content-end mb-3">
        <a class="btn btn-success" href="/quizzes/add">Add New Quiz</a>
    </div>


    <div class="d-flex flex-wrap gap-4">
        <div class="card" th:each="quiz:${quizzes}" style="width: 22rem;">
            <div class="card-header" th:text="${quiz.title}"></div>
            <div class="card-body">
                <div class="d-grid gap-2 mb-3">
                    <a th:href="@{|/quizzes/${quiz.quizId}/details|}" class="btn btn-outline-primary">View Questions</a>
                </div>

                <div class="d-flex justify-content-between">
                    <a th:href="@{|/quizzes/${quiz.quizId}/edit|}" class="btn btn-outline-warning">Edit</a>
                    <a th:href="@{|/quizzes/${quiz.quizId}/delete|}" class="btn btn-outline-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>