<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>

<div th:replace="fragments/navigation :: nav"></div>

<div class="container mt-4">



    <div class="d-flex my-3 gap-3">
        <div class="card" th:each="quiz:${quizzes}" style="width: 18rem;">
            <div class="card-header" th:text="${quiz.title}"></div>
            <div class="card-body">
                <a th:href="@{/quizzes/add}" class="btn btn-primary">Add Quiz</a>
                <a th:href="@{|/quizzes/${quiz.quizId}/edit|}" class="btn btn-secondary">Edit</a>
                <a th:href="@{|/quizzes/${quiz.quizId}/delete|}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>