<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments/head :: head"></head>

<body>
<nav th:replace="fragments/navigation :: nav"></nav>
<main class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-2">
        <h1>All Quizzes</h1>
        <a th:href="@{/quizzes/add}" class="btn btn-primary">+ Add new quiz</a>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Quiz Id</th>
            <th>Quiz Title</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>

        <tr class="table-dark" th:each="quiz:${quizzes}">
            <td th:text="${quiz.quizId}"></td>
            <td th:text="${quiz.title}"></td>
            <td>

                <a th:href="@{|/quizzes/${quiz.quizId}/edit|}" class="btn btn-light">Edit</a>
                <a th:href="@{|/quizzes/${quiz.quizId}/delete|}" class="btn btn-danger">Delete</a>
                <a th:href="@{|/quizzes/${quiz.quizId}/add|}" class="btn btn-success">Add To Home Page</a>
            </td>

        </tr>
        </tbody>
     </table>

</main>
</body>
</html>