<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>
<script src="/js/quiz.js"></script>

<div th:replace="fragments/navigation :: nav"></div>

<div class="container mt-4">
    <div class="card-header" th:text="${quiz.title}">Quiz Title</div>

    <div id="quiz-content" class="mt-4">
        <!-- Placeholder for the questions -->

    </div>

    <!-- Start Quiz Button -->
    <button id="start-button" class="btn btn-primary mt-4">Start Quiz</button>
    <button id="prev-button" class="btn btn-secondary mt-4" style="display:none;">Previous</button>
    <button id="next-button" class="btn btn-secondary mt-4" style="display:none;">Next</button>
</div>
</body>
</html>
