<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>

<div th:replace="fragments/navigation :: nav"></div>

<div class="container mt-4">
    <div class="card mb-2" th:each="quiz:${quizzes}">
        <div class="card-header">
            <div class="card-header"></div>
            <div class="card-header">
                <a th:text ="${quiz.title}|}"></a>
            <a th:href="@{|/quizzes/${quiz.quizId}/quiz-page|}"></a>
            </div>


        </div>
    </div>
</div>

</body>
</html>