<div th:fragment="question-and-answer">

    <h3 th:if="${question != null}">
        <span th:text="${question.questionNumber} + '.'"></span> <span th:text="${question.questionText}"></span>
    </h3>

    <input type="hidden" id="question-count" th:value="${questionCount}" />

    <div id="answer" th:if="${question != null}">
        <div th:each="answer : ${question.answers}">
            <label th:if="${not #strings.equals(result, 'results')}">
                <input type="radio" class="answer-radio"
                       name="question-${question.questionId}"
                       th:value="${answer.answerId}"
                       th:data-question-id="${question.questionId}"
                       th:data-is-correct="${answer.isCorrect}" />
                <span th:text="${answer.answerText}"></span>
            </label>

            <span th:if="${#strings.equals(result, 'results')}">
                <b th:if="${answer.isCorrect}" th:text="${answer.answerText}"></b>
            </span>
        </div>
    </div>
</div>
