
    <div>
        <h3 th:text="${question.questionText}"></h3>
        <div id="answer">
            <div th:each="answer : ${question.answers}">
                <button class="btn btn-secondary answer-button"
                        th:data-answer-id="${answer.answerId}"
                        th:data-answer-text="${answer.answerText}"
                        th:data-question-id="${question.getQuestionId()}"
                        th:text="${answer.answerText}">
                </button>
            </div>
        </div>
    </div>
